absl-py==0.11.0
asgiref==3.2.10
astunparse==1.6.3
CacheControl==0.12.6
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cycler==0.10.0
Django==3.1.2
django-chartjs==2.2.1
firebase-admin==4.4.0
gast==0.3.3
gcloud==0.17.0
google-api-core==1.23.0
google-api-python-client==1.12.5
google-auth==1.22.1
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
google-cloud-core==1.4.3
google-cloud-firestore==1.9.0
google-cloud-storage==1.32.0
google-crc32c==1.0.0
google-pasta==0.2.0
google-resumable-media==1.1.0
googleapis-common-protos==1.52.0
grpcio==1.33.1
h5py==2.10.0
httplib2==0.18.1
idna==2.10
importlib-metadata==2.0.0
joblib==0.17.0
jsonpickle==1.4.1
jws==0.1.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.3
matplotlib==3.3.2
msgpack==1.0.0
numpy==1.19.4
oauth2client==3.0.0
oauthlib==3.1.0
opt-einsum==3.3.0
parse==1.18.0
Pillow==8.0.1
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.4.3
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
python-jwt==2.0.1
pytz==2020.1
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.7.0
rsa==4.6
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
sqlparse==0.4.1
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow-estimator==2.3.0
tensorflow-gpu==2.3.1
termcolor==1.1.0
threadpoolctl==2.1.0
tweepy==3.9.0
uritemplate==3.0.1
urllib3==1.25.11
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
