body {
    display: table;
    margin: 0;
    padding: 0;
    height: 100%;
}

.btn {
    border:solid;
    border-radius: 20px;
    color: blanchedalmond;
    border-color: blanchedalmond;
    outline: none;
    padding: 10px 5px;
    background-color: black;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 40px;
    opacity:0.8;
    box-shadow: -3px 3px orange, -2px 2px orange, -1px 1px orange;
    
}
.val{

    font-size: large;
    font-style:normal;
    color: black;
    text-align: center;
    border-style: solid;
    border-radius: 25px;
    background-color:white;
    margin: 20px;
    margin-left: 130px;
}

.info{
    font-size: medium;
    font-style:normal;
    color: white;
    text-align: center;
    border-style: solid;
    border-radius: 25px;
    background-color: black;
    margin: 20px;
    margin-left: 130px;
}


#components{

    width:min-content;
    position: fixed;
    float: left;
    height: max-content;
}

#date-div {
    margin: 10px;
    margin-left: 35px;
    font-size: large;
    font-weight: 700;
    color: blanchedalmond;
    background-color: black;
    text-align: center;
    border: 25px solid rgba(3, 75, 35, 0.95);
    opacity: 0.8;
    border-radius: 25px;
    float: left;
    margin-bottom: auto;
    
}

.legend{
    
    width: min-content;
    font-size: medium;
    font-style:oblique;
    color: black;
    text-align: center;
    margin-top: 40px;
    border-radius: 25px;
    float: left;
}

.scale-table{
    font-weight: 700;
    opacity: 0.6;
    float: left;
    margin: 10px;
    margin-left: 70px;
    text-align: center;
    border-radius: 25px;
    margin-bottom: auto;
}


.map-container {
    position: fixed;
    height: 100%;
    width: 100%;
}

.svg {
    height: 100%;
    margin: 0;
    padding: 0;

}
#svg-div {
    position: fixed;
    margin: 0 auto;
    left: 120px;
    right: 100px;
    height: 100%;
    width: 100%;
}

.mapdiv {
    overflow: auto;
    display: table;
    margin: 0;
}


.area {
    cursor: pointer;
    stroke: black;
    stroke-width: 4px;
    transition: fill 0.3s;
    opacity: 0.6;
}

.area:hover {
    fill: lightblue !important;
}

.area:active {
    fill: sandybrown !important;
}

.knob-container {
    
    float: left;
    position: fixed;
    margin-top: 30px;
    left: 100px;
    bottom: 50px;
    
    
}

.general-voivodeship-info {
    
    margin-left: 0;
    -webkit-transition: 1s;
    transition: 1s;
    position: fixed;
    height: 100%;
    width: 500px;
    background-color: rgba(3, 75, 35, 0.95);
    right: -500px;
    top: 0;
    padding-left: 15px;
    bottom: 0;
    opacity: 0.6;
    display: table;
    font-weight: 900;
    border: solid;
    border-color: black;
    border-radius: 30px;
}


.general-voivodeship-info p {

    padding: 10px;
    width: 50%;
}

#general-voivodeship-info-items {
    text-align: center;
    height: 300px;
    display: table-cell;
    vertical-align: middle;
    position: fixed;
    margin-top: 20%;
}
