body {
    display: table;
    margin: 0;
    padding: 0;
    height: 100%;
}

h5 {
    text-align: center;
    color: blanchedalmond;
    border: solid;
    padding: 5px;
    border-radius: 10px;
}

.btn {
    border: solid;
    border-radius: 20px;
    color: blanchedalmond;
    border-color: blanchedalmond;
    outline: none;
    padding: 10px 5px;
    background-color: black;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 40px;
    opacity: 0.9;


}

.val {

    font-size: large;
    font-style: normal;
    color: white;
    border-color: black;
    text-align: center;
    margin: 20px;
    margin-top: 0;
    margin-left: 130px;
    border-style: solid;
    border-top: thick;
}

.info {
    font-size: medium;
    font-style: normal;
    color: white;
    border-color: black;
    text-align: center;
    border-style: solid;
    margin: 20px;
    margin-bottom: 0;
    margin-left: 130px;
}



#date-div {
    background-image: url("/static/img/bcg.jpg");
    margin: 10px;
    margin-left: 35px;
    font-size: large;
    font-weight: 700;
    color: blanchedalmond;
    text-align: center;
    border: 25px solid rgba(3, 75, 35, 0.95);
    opacity: 0.8;
    border-radius: 25px;
    float: left;
    margin-bottom: auto;

}

.legend {

    width: min-content;
    font-size: medium;
    font-style: oblique;
    color: black;
    text-align: center;
    margin-top: 40px;
    border-radius: 25px;
    float: left;
}

.scale-table {
    font-weight: 700;
    opacity: 0.6;
    float: left;
    margin: 10px;
    margin-left: 70px;
    text-align: center;
    border-radius: 25px;
    margin-bottom: auto;
}


.map-container {
    position: fixed;
    height: 100%;
    width: 100%;
}

.svg {
    height: 100%;
    margin: 0;
    padding: 0;

}

#svg-div {
    position: fixed;
    margin: 0 auto;
    left: 120px;
    right: 100px;
    height: 100%;
    width: 100%;
}

.mapdiv {
    overflow: auto;
    display: table;
    margin: 0;
}


.area {
    cursor: pointer;
    stroke: black;
    stroke-width: 4px;
    transition: fill 0.3s;
    opacity: 0.6;
}

.area:hover {
    fill: lightblue !important;
}

.area:active {
    fill: sandybrown !important;
}

.knob-container {

    float: left;
    position: relative;
    top: -1px;
    margin-top: 30px;
    left: 100px;
    bottom: 50px;
}
.general-voivodeship-info {
    margin-left: 0;
    -webkit-transition: 1s;
    transition: 1s;
    position: fixed;
    height: 100%;
    width: 500px;
    background-color: rgba(3, 75, 35, 0.95);
    right: -500px;
    top: 0;
    padding-left: 15px;
    bottom: 0;
    opacity: 0.9;
    display: table;
    font-weight: 900;
    border: solid;
    border-color: black;

}


#general-voivodeship-info-items {
    width: 100%;
    position: fixed;
    margin-top: 30%;
    display: block;
}

#label-inf {
    color: white;
    background-image: url("/static/img/bcg.jpg");
    box-shadow: 5px 4px 2px -2px black;
    text-align: center;
    width: 93%;
    height: 50px;
    font-size: 20px;
    border-radius: 3px;
    vertical-align: middle;
}

#cases-tab {
    min-height: 400px;
    height: auto;
    position: fixed;
    font-size: 24px;
    color: white;
    table-layout: fixed;
    width: 100%;
    margin-right: 12%;
}

#statistics-link {
    background-image: url('/static/img/bcg.jpg');
    opacity: 1;
    text-align: center;
    top: 80%;
    position: fixed;
    height: 50px;
    width: 93%;
    margin: 0 auto;
    vertical-align: middle;
    border-radius: 7px;
}


#statistics-link:hover {
    background-image: none;
    background-color: lightblue;
}

#components{

    width:min-content;
    position: absolute;   
    height: max-content;
    display: inline;
    height: max-content;
    float: left;

    
}

#set-up-panel{
    height: 70%;
    float: left;
    position: relative;
}

#container {
    /*container position should be absolute*/
    position: absolute;
}