.page-content {
    padding: 5px;
    display: flex;
    height: 85%;
}

@media only screen and (max-width: 1000px) {
    .body, .html {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .page-content {
        display: inline-table;
        text-align: center;
        align-items: center;
        position: fixed;
        margin-top: 30%;
    }

    .side-content {
        position: relative;
    }

    #pred-summary {
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
        width: 100%;
    }

    #date-div {
        position: absolute;
        padding-top: 15%;
        margin-top: -35%;
    }

    .map-container {
        position: relative;
        left: -35%;
        width: 180%;
        height: 70%;
    }

    #cases-switcher {
        position: relative;
        width: 100%;
    }

    #canvas-place {
        position: relative;
        left: -35%;
        width: 160%;
        height: 70%;
    }
    #mapdiv{
        position: relative;
        left: -15%;
    }
}

.side-content {
    flex: none;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.area {
    cursor: pointer;
    stroke: black;
    stroke-width: 4px;
    transition: fill 0.3s;
    opacity: 0.6;
}

.area:hover {
    fill: lightblue !important;
}

.area:active {
    fill: sandybrown !important;
}

.mapdiv {
    min-width: 300px;
}

#canvas-place {
    position: relative;
    right: 8%;
}

#date-div {
    position: absolute;
    top: 6%;
    left: 10%;
}

.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

#cases-switcher {
    align-items: center;
    text-align: center;
    margin: auto 120px auto auto;
}

#pred-summary {
    display: flex;
    align-items: center;
    color: white;
    position: absolute;
    height: 15%;
    width: auto;
    margin-bottom: 3%;
    margin-left: 3%;
    bottom: 3%;
    padding: 15px;
}

#summary-tab {
    color: white;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

#summary-tab td {
    font-size: 22px;
    white-space: normal;
    word-wrap: break-word;
}

#summary-tab th {
    font-size: 30px;
    white-space: normal;
    word-wrap: break-word;
}
