body{
    color: white;
    display: block;
}
.side-menu{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    float: left;
    padding: 20px;
    font-size: 16px;
}
.daily-chart-class{
    margin-left: 20%;
    padding: 20px;
    width: 60%;
}
.total-chart-class{
    margin-left: 20%;
    padding: 20px;
    width: 60%;
}
.pie-chart-class{
    max-width: 20%;
    float: left;
    min-width: 20%;
}
.pie-tests-class{
    max-width: 20%;
    float: left;
    min-width: 20%;
}
.pie-daily-class{
    margin-left: 20%;
    max-width: 20%;
    float: left;
    min-width: 20%;
}
.infected100k-class{
    margin-left: 20%;
    padding: 20px;
    width: 60%;
}
.total-tests-class{
   margin-left: 20%;
    padding: 20px;
    width: 60%;
}
.infected100ktoday-class{
    margin-left: 20%;
    padding: 20px;
    width: 60%;
}
.total-diseased-class{
    margin-left: 20%;
    padding: 20px;
    width: 60%;
}
.daily-diseased-class{
    margin-left: 20%;
    padding: 20px;
    width: 60%;
}
.table-class{
    margin-left: 20%;
    max-width: 60%;
    width: 60%;
    display: inline-block;
    margin-top: 50px;
    align-content: center;
}
table#data-table{
    color: darkgrey;
    text-align: center;
}
