body {
    color: white;
    display: block;
    scrollbar-color: #818181 #111;
}

@media screen and (min-width: 1280px) {
    .charts {
        margin-left: 20%;
        width: 60%;
        max-width: 60%;
    }

    .pies {
        margin-left: 20%;
        width: 60%;
        max-width: 60%;
    }

    .charts * {
        padding: 5px;
    }

    .pie-chart-class {
        max-width: 50%;
        float: left;
        min-width: 50%;
    }

    .pie-tests-class {
        max-width: 50%;
        float: left;
        min-width: 50%;
    }

    .pie-daily-class {
        max-width: 50%;
        float: left;
        min-width: 50%;
    }

    .pie-week-class {
        max-width: 50%;
        float: left;
        min-width: 50%;
    }

    .table-class {
        margin-left: 20%;
        max-width: 60%;
        width: 60%;
        display: inline-block;
        margin-top: 50px;
        align-content: center;
    }

}



@media screen and (max-width: 1280px) {
    .hamburger{
        top: 2%;
    }

     .charts {
        margin-left: 3%;
        width: 94%;
        max-width: 94%;
    }

    .pies {
        margin-left: 3%;
        width: 94%;
        max-width: 94%;
    }

    .charts * {
        padding: 1px;
    }

    .pie-chart-class {
        max-width: 50%;
        float: left;
        min-width: 50%;
    }

    .pie-tests-class {
        max-width: 50%;
        float: left;
        min-width: 50%;
    }

    .pie-daily-class {
        max-width: 50%;
        float: left;
        min-width: 50%;
    }

    .pie-week-class {
        max-width: 50%;
        float: left;
        min-width: 50%;
    }

    .table-class {
        margin-left: 3%;
        max-width: 94%;
        width: 94%;
        display: inline-block;
        margin-top: 10px;
        align-content: center;
    }
}

.sidepanel {
        height: fit-content;
        max-height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        direction: rtl;
    }

    .sidepanel a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidepanel a:hover {
        color: #f1f1f1;
    }

    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .openbtn {
        width: 22%;
        font-size: 18px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
    }

    .openbtn:hover {
        background-color: #444;
    }