{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>

<html lang="">
<body>
<div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</div>
<ul class="hidden-menu">
    <li><a href="/">Poland Map</a></li>
    <li><a href="/statistics/Polska">Poland Statistics</a></li>
    <li><a href="/predictions/">Tomorrow prediction</a></li>
    <li><a href="https://github.com/sqoshi/team-programming-project">Source Code</a></li>
</ul>
{% block content %}

{% endblock %}
<script>
    const hamburger = document.querySelector(".hamburger");
    const hidden_menu = document.querySelector(".hidden-menu");
    const links = document.querySelectorAll(".hidden-menu li");
    hamburger.addEventListener('click', () => {
        hidden_menu.classList.toggle("open");
    });
</script>
</body>
</html>
