{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<html lang="">
<body>
<div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</div>
<ul class="hidden-menu">
    <!--<li><a href="/prevention/">Prevention </a></li>-->
    <li><a href="https://www.google.com">google </a></li>
</ul>
{% block content %}

{% endblock %}
<script>
    const hamburger = document.querySelector(".hamburger");
    const hidden_menu = document.querySelector(".hidden-menu");
    const links = document.querySelectorAll(".hidden-menu li");
    hamburger.addEventListener('click', () => {
        hidden_menu.classList.toggle("open");
    });
</script>
</body>
</html>
