{% extends "base.html" %}
{% load static %}
<head>
    <title> Statistics </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.com/libraries/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
</head>

{% block content %}
    <script>
        var data_raw = '{{data}}';
    </script>
    <script src='//ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js'></script>
    <link rel="stylesheet" type="text/css" href="/static/css/statistics.css"/>

<body>
    <div class="side-menu">
     <ul>
         <li><a href="../Polska">Polska</a></li>
         <li><a href="../Dolnośląskie">dolnośląskie</a></li>
         <li><a href="../Lubelskie">kujawsko-pomorskie</a></li>
         <li><a href="../Kujawsko-pomorskie">lubelskie</a></li>
         <li><a href="../Lubuskie">lubuskie</a></li>
         <li><a href="../Łódzkie">łódzkie</a></li>
         <li><a href="../Małopolskie">małopolskie</a></li>
         <li><a href="../Mazowieckie">mazowieckie</a></li>
         <li><a href="../Opolskie">opolskie</a></li>
         <li><a href="../Podkarpackie">podkarpackie</a></li>
         <li><a href="../Podlaskie">podlaskie</a></li>
         <li><a href="../Pomorskie">pomorskie</a></li>
         <li><a href="../Śląskie">śląskie</a></li>
         <li><a href="../Świętokrzyskie">świętokrzyskie</a></li>
         <li><a href="../Warmińsko-mazurskie">warmińsko-mazurskie</a></li>
         <li><a href="../Wielkopolskie">wielkopolskie</a></li>
         <li><a href="../Zachodniopomorskie">zachodniopomorskie</a></li>
    </ul>
    </div>

    <div class="daily-chart-class">
    <div id="daily-canvas">
                <canvas id="daily-chart" width="500" height="300"></canvas>
            </div>
    </div>

    <div class="total-chart-class">
        <div id="total-canvas">
            <canvas id="total-chart" width="500" height="300"></canvas>
        </div>
    </div>

    <div class="total-diseased-class">
        <div id="totald-canvas">
            <canvas id="totald-chart" width="500" height="300"></canvas>
        </div>
    </div>
    <div class="daily-diseased-class">
        <div id="dailyd-canvas">
            <canvas id="dailyd-chart" width="500" height="300"></canvas>
        </div>
    </div>

    <div class="total-tests-class">
        <div id="total-canvas">
            <canvas id="total-tests-chart" width="500" height="300"></canvas>
        </div>
    </div>
    <div class="infected100k-class">
            <div id="infected100k-canvas">
                <canvas id="infected100k-graph" width="500" height="300"></canvas>
            </div>
        </div>
    <div class="infected100ktoday-class">
            <div id="infected100ktoday-canvas">
                <canvas id="infected100ktoday-graph" width="500" height="300"></canvas>
            </div>
        </div>
<div class="pie-daily-class">
        <div id="pie-daily-canvas">
            <canvas id="pie-daily-chart" width="500" height="300"></canvas>
    </div>
    </div>

    <div class="pie-chart-class">
        <div id="pie-canvas">
            <canvas id="pie-chart" width="500" height="300"></canvas>
    </div>
    </div>


     <div class="pie-tests-class">
        <div id="pie-tests-canvas">
            <canvas id="pie-tests-chart" width="500" height="300"></canvas>
    </div>
    </div>
    <script type="text/javascript" src="/static/js/statistics.js"></script>
</body>
{% endblock content %}