{% extends "base.html" %}
{% load static %}
<head>
    <title> Statistics </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.com/libraries/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
</head>
{% block content %}
    <script>
        var data_raw = '{{data}}';
    </script>
    <script type="text/javascript" src="/static/js/statistics.js"></script>
    <script src='//ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js'></script>
    <link rel="stylesheet" type="text/css" href="/static/css/statistics.css"/>



    <body>
    </body>
{% endblock content %}
